* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display",
        "Segoe UI", sans-serif;
}


body {

    height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    background: #f5f5f7;

}



/* Calculator Card */

.calculator {

    width: 360px;

    padding: 30px;

    background: #ffffff;

    border-radius: 30px;


    box-shadow:

    0 20px 50px rgba(0,0,0,0.12);


}



/* Title */

.calculator h2 {

    text-align: center;

    color: #1d1d1f;

    font-size: 28px;

    font-weight: 600;

    margin-bottom: 25px;

}



/* Display */

#display {

    width: 100%;

    height: 75px;

    border: none;

    outline: none;


    border-radius: 18px;


    background: #f2f2f7;


    padding: 20px;


    margin-bottom: 25px;


    text-align: right;


    font-size: 35px;


    color: #1d1d1f;

}



/* Buttons */

.buttons {

    display: grid;

    grid-template-columns: repeat(4,1fr);

    gap: 14px;

}



button {

    height: 65px;


    border: none;


    border-radius: 18px;


    background: #f2f2f7;


    color:#1d1d1f;


    font-size:22px;


    cursor:pointer;


    transition: all .2s ease;

}



button:hover {

    background:#e5e5ea;

    transform: translateY(-2px);

}



button:active {

    transform: scale(.95);

}



/* Operators */

.operator {

    background:#1d1d1f;

    color:white;

}



.operator:hover {

    background:#333336;

}



/* Clear */

.clear {

    background:#ff3b30;

    color:white;

}


.clear:hover {

    background:#d70015;

}



/* Delete */

.delete {

    background:#8e8e93;

    color:white;

}



/* Equal */

.equal {

    grid-column: span 2;

    background:#007aff;

    color:white;

}



.equal:hover {

    background:#005ecb;

}



/* Mobile */

@media(max-width:420px){

    .calculator {

        width:90%;

        padding:25px;

    }


    button {

        height:55px;

        font-size:20px;

    }


    #display {

        font-size:28px;

    }

}